*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

.hero{
    width:100%;
    height: 10vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper2{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
    
}


.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.content {
	margin-top: 10vh;
}
main {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	min-height: 100vh;
	/* margin-top: 0vh; */
	color: white;
}
.filler {
	max-height: 100vh;
	min-height: 10vh;
}


.items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	justify-content: center;

}
@media (max-width: 960px) {
	.items {
		flex-direction: column;
	}
}



.items .vare {
	/* border: 1px solid #333333; */
	background-color: #fdfdfd;
	color: #333333;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
	border-radius: 15px;
	height: 52vh;
	width: 33vh;
	/* height: 32vh;
	width: 22vh; */
	text-align: center;
	align-content: center;
	/* padding: 1vw; */
	padding: 2vh;
	margin: 3vh;
}

.vare img {
	height: 36vh;
}

.btn {
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: #fbfbfd;
	background-color: #007aff;
	font-size: medium;
	/* padding: 0.5vw; */
	padding: 0.8vh;
	text-decoration: none;
	border-radius: 15px;
	/* margin: 1vh; */
}
.btn:hover {
	background-color: #007aff;
}

.total {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	border-radius: 15px;
	background-color: #fdfdfd;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
	/* width: 8vw;
	padding: 0.5vw; */
	width: 15vh;
	padding: 0.8vh;
	text-align: center;
}
.total p {
	font-size: 16px;
	color: #111111;
	padding-top: 10%;
}

/* #checkout-button {
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: #fbfbfd;
	background-color: #007aff;
	font-size: small;
	padding: 1vh;
	text-decoration: none;
	border-radius: 15px;
	margin: 1vh;
} */

.products-container {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction:row ;
	justify-content: space-around;
	position: absolute;
	top: 200px;
	left: 210px;
	font-family: "Courier New", Courier, monospace;
}

.products {
	font-family: "Courier New", Courier, monospace;
	display: flex;
	max-width: 75%;
	display: flex;
	align-content: center;
	align-items: center;
	margin: 25px;
  	width: 350px;
 	height: 400px;
}

@media (max-width: 960px) {
	.products {
		flex-direction: column;
	}
}

.products .vare {
	font-family: "Courier New", Courier, monospace;
	/* border: 1px solid #333333; */
	background-color: #3b3b3b;
	color: #ffff;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
	border-radius: 15px;
	height: 60vh;
	width: 33vh;
	/* height: 32vh;
	width: 22vh; */
	text-align: center;
	align-content: center;
	/* padding: 1vw; */
	padding: 2vh;
	margin: 3vh;
}

.items .vare{
	height: 420px;
}

.vare img {
	height: 36vh;
	/* height: 18vh; */
}

.btn {
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	color: #fbfbfd;
	background-color: #000000;
	font-size: medium;
	/* padding: 0.5vw; */
	padding: 0.8vh;
	text-decoration: none;
	border-radius: 15px;
	
	/* margin: 1vh; */
}
.btn:hover {
	background-color: #5900ff;
	/* cursor: pointer; */
}

.amount{
	padding-bottom: 5%;
}

.title{
	padding-top: 0%;
	top: 0;
}